torch==2.0.1
transformers==4.31.0
numpy==1.22.4
punctuator==0.9.6
tqdm==4.65.0
ffmpeg_python==0.2.0
pandas==1.5.3
ffmpeg==1.4
pipelines==0.0.1
scikit_learn==1.2.2
CherryPy==18.8.0
jsonlines==3.1.0
webvtt-py==0.4.6
nltk==3.8.1
sentencepiece==0.1.99
datasets==2.14.0
git+https://github.com/NVIDIA/NeMo.git@6f20e61e4d11ce4dafc0f037c3bad535e1ac3ea9#egg=nemo_toolkit[nlp]
